/trading-api/target/
/trading-app/target/
/trading-client-test-dist/target/
/trading-client-test-perf/jmeter/
/trading-client-test-perf/target/
/trading-ejb-client/target/
/trading-ejb-client-test-config/target/
/trading-rest/target/
/trading-rest-client/target/
/trading-rest-client-test-config/target/
/trading-resteasy-jaxrs/target/
/trading-services/target/
/trading-test/target/
/trading-test-config/target/
/trading-ws-client/target/
/trading-ws-client-test-config/target/

